
<div class="banner-wrapper">
	<div class="banner" style="filter: blur({blur}px)">
		<img src="{banner.img}" alt="banner" style="width: {banner.width}%; top: {banner.top}%; left: {banner.left}%"/>
	</div>
</div>

<!-- <div class="banner-wrapper">
	<div class="banner" style="filter: blur({blur}px)">
		<img src="{banner.img}" alt="banner" style="width: {banner.width}%; top: {banner.top}%; left: {banner.left}%"/>
	</div>
</div> -->

<style>
	.banner-wrapper {
		position: fixed;
		overflow: hidden;
	}
	.banner {
		height: 360px;
		width: 1260px;
		overflow: hidden;
	}
	img {
		position: relative;
	}
</style>

<script>
	export default {
		data() {
			return {
				blur: false,
				banner: ''
			}
		},
		oncreate() {
			// var banner = {}; this.set({banner});
			// var profile = this.get().profile;
			// console.log(profile);
				// .then(profile => {
				// 	this.set({banner: profile.banner});
				// });
			// profile.then(profile => { console.log(profile)});

		}
	}
</script>
