<a class="menu-item {item.active ? 'active' : ''}" href="{item.link}">
  {#if item.icon.svg}
    <span class="icon">
      <IconsSvg name="{item.icon.svg}"/>
    </span>
  {:elseif item.icon.img}
    <span class="icon">
      <img src="{item.icon.img}" alt="{item.icon.name}"/>
    </span>
  {:else}
    {item.icon.name}
  {/if}
</a>

<style>
  .menu-item {
    height: 80px;
    margin: 1px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #797C8B;
    border-bottom: 1px solid #1C1F24;
    border-left: 3px solid var(--color);
  }
  .menu-item:hover,
  .active.menu-item {
    color: var(--color);
		background: #292C33;
    /* for svg bg */
    --bg: #292C33;
  }
  .icon {
    width: 25px;
    height: 25px;
  }
</style>

<script>
  import IconsSvg from './../icons/IconsSvg.html';

  export default {
    components: {
      IconsSvg
    }
  }
</script>
